* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'roboto';
  line-height: 1.1;
  font-size: 1rem;
  background-color: #fff;
}

a.link.active {
  text-decoration: underline;
  color: #fff;
}
